<!-- index.html -->

{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for dataset in page_obj %}
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <h4 class="card-title">Название: {{ dataset.title }}</h4>
                        <p class="card-text">Дата создания: {{ dataset.time_create }}</p>
                        <p class="card-text">Количество строк: {{ dataset.num_rows }}</p>
                        <p class="card-text">Количество столбцов: {{ dataset.num_columns }}</p>
                        <a href="{% url 'preview' dataset_id=dataset.id %}" class="btn btn-primary">Просмотреть</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
